

body {
	width: 80%;
	margin: 20% auto;
}

.main {
	width: 100%;
	margin: 5% auto;
	padding: 10px;
}

#accordion {
	width: 90%;
	height: 90%;
	margin: auto;
	padding-top: 15px;
}

#bottom-button {
	margin-left: 6%;
}

.recipe-header {
	padding-bottom: 30px;
	border-bottom: 1px solid grey;
	margin-bottom: 20px;
}


.buttonDiv {
	margin-top: 20px;
}

button {
	margin-right: 10px;
}

.modal {
	margin-top: 10%;
}














