* {
	box-sizing: border-box;
}

body {
	width: 80%;
	margin: 5% auto;
}

.main {
	width: 100%;
}

#accordion {
	width: 90%;
	height: 90%;
	margin: auto;
}

.panel {
	margin: 5px;
}

#bottom-button {
	margin-left: 6%;
}

.recipe-header {
	padding-bottom: 30px;
	border-bottom: 1px solid grey;
	margin-bottom: 20px;
}


.buttonDiv {
	margin-top: 20px;
}

button {
	margin-right: 10px;
}

.modal {
	margin-top: 10%;
}














